﻿@{
    ViewBag.Title = "List of shops";
}

<div class="filtering">
    <form>
        <label>Shop's name: <input type="text" name="name" id="name" /></label>
        <button type="submit" id="LoadRecordsButton">Load records</button>
    </form>
</div>

<div id="ShopsTableContainer">
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#ShopsTableContainer').jtable({
            title: '@ViewBag.Title',
            paging: true,
            pageSize: 3,
            sorting: true,
            defaultSorting: 'Name ASC',
            actions: {
                listAction: '@Url.Action("ShopListByFilter")',
                deleteAction: '@Url.Action("DeleteShop")',
                updateAction: '@Url.Action("UpdateShop")',
                createAction: '@Url.Action("AddNewShop")'
            },
            fields: {
                ID: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                Name: {
                    title: 'Shop name',
                    width: '23%'
                },
                Email: {
                    title: 'E-Mail address',
                },
                CityID: {
                    title: 'City name',
                    options: '@Url.Action("GetCitiesOption")'
                },
                //CHILD TABLE DEFINITION FOR "Products"
                Products: {
                    title: '',
                    width: '5%',
                    sorting: false,
                    edit: false,
                    create: false,
                    listClass: 'child-opener-image-column',
                    display: function (shopData) {
                        //Create an image that will be used to open child table
                        var $img = $('<img class="child-opener-image" src="/Content/arrow.png" title="Edit shop\'s products" />');
                        //Open child table when user clicks the image
                        $img.click(function () {
                            $('#ShopsTableContainer').jtable('openChildTable',
                                $img.closest('tr'),
                                {
                                    title: shopData.record.Name + ' - Products',
                                    actions: {
                                        listAction: '@Url.Action("ProductList")?ShopID=' + shopData.record.ID,
                                        deleteAction: '@Url.Action("DeleteProduct")',
                                        updateAction: '@Url.Action("UpdateProduct")',
                                        createAction: '@Url.Action("AddNewProduct")'
                                    },
                                    fields: {
                                        ID: {
                                            key: true,
                                            create: false,
                                            edit: false,
                                            list: false
                                        },
                                        ShopID: {
                                            type: 'hidden',
                                            defaultValue: shopData.record.ID
                                        },
                                        Name: {
                                            title: 'Product Name',
                                            width: '30%',
                                        },
                                        Price: {
                                            title: 'Price',
                                            width: '30%',
                                        },
                                        Description: {
                                            title: 'Description',
                                            width: '40%',
                                        },
                                    }
                                }, function (data) { //opened handler
                                    data.childTable.jtable('load');
                                });
                        });
                        //Return image to show on the person row
                        return $img;
                    }

                },
            }
        });


        //Re-load records when user click 'load records' button.
        $('#LoadRecordsButton').click(function (e) {
            e.preventDefault();
            $('#ShopsTableContainer').jtable('load', {
                name: $('#name').val()
            });
        });

        //Load all records when page is first shown
        $('#LoadRecordsButton').click();
    });

</script>

